.center {
    text-align: center;
}
h1 {
    color: rgb(111, 0, 255)
}
body {
    font-family:"helvetica"; font-weight: bold;
}
.down {
    text-align: center;
    color: white;
    background-color: rgb(105, 105, 105);
    border: solid;
    border-radius: 10px;
}