.center {
    text-align: center;
}
h1 {
    color: rgb(111, 0, 255)
}
body {
    font-family:"helvetica"; font-weight: bold;
    text-align: center;
}
button {
    font-family:"helvetica"; font-weight: bold; color: rgb(77, 77, 77);
}
input {
    font-family:"helvetica"; font-weight: bold; color: rgb(49, 49, 49);
    padding-right: 500px;
}
.down {
    text-align: center;
    color: white;
    background-color: rgb(105, 105, 105);
    border: solid;
    border-radius: 10px;
}